:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/*body menggunakan toogle untuk mode gelap terang */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.dark{
  background-color: #333;
  color: white;
}


.in-progress{
  background-color:#d0f0fd ;
  color: #269edc;
}
.pending{
background-color:  #EEE7FB ;
color: #A05ACF ;
}
.completed{
background-color: #D9FBD9 ;
color:#38A169;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
