:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*warna yang bisa di gunakan */;
  --blue-link:#1a73e8
}
/*body menggunakan toogle untuk mode gelap terang */
body {
  box-sizing: border-box;
  margin: 0;
 background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%); /* putih ke abu-abu */
  padding: 0;
  color: #333;
  overflow-x: hidden;
}
body.dark{
  background: linear-gradient(135deg, #2a2a2a 0%, #444 100%); /* gelap sedikit lebih terang */
  color: #ddd;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3456cf;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
